[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/Default"]
	path = lib/Default
	url = https://github.com/0xProxy/Default
[submodule "lib/solidity-examples"]
	path = lib/solidity-examples
	url = https://github.com/LayerZero-Labs/solidity-examples
[submodule "lib/ERC721X"]
	path = lib/ERC721X
	url = https://github.com/OphiuchusDAO/ERC721X
[submodule "lib/xapp-starter"]
	path = lib/xapp-starter
	url = https://github.com/z80dev/xapp-starter
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "lib/nxtp"]
	path = lib/nxtp
	url = https://github.com/connext/nxtp
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
